* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-size: cover;
    background-color: #000;
    color: #fff;
    padding: 1px;
    line-height: 1px;
}

.nav h1{
    font-size: 50px;
}

nav {
    margin: 0;
}

.left {
    float: left;
    width: 49%;
    text-align: center;
    background-color: #563d2d;
    color: #fff;
    flex: 1;
    padding: 20px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    height: 36em;
}

.right {
    float: right;
    width: 49%;
    text-align: center;
    background-color: #003b46;
    color: #fff;
    flex: 1;
    padding: 20px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    height: 36em;
}

footer {
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer button{
    display: inline-block;
    transition: background-color 0.3s;
}


#profileContainer {
    position: absolute;
    top: 5px;
    right: 5px;            
}

#profileButton {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
}

#homeButtonContainer {
    position: absolute;
    top: 5px;
    left: 5px;
}

#homeButton {
    display: block;
    width: 90px;
    height: 90px;
    background-color: #fff;
    overflow: hidden;
}

#profileButton img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-container{
    position: absolute;
    top: 190px;
    left: 20px;
    width: 25%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#loginContainer {
    width: 60%;
    position: absolute;
    top: 190px;
    right: 40px; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}